<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mochi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoChi">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.login.Login"
            android:exported="false" />

        <activity
            android:name=".activity.signup.SignUp"
            android:exported="false" />

        <activity
            android:name=".activity.forget_password.ForgetPassword"
            android:exported="false" />

        <activity
            android:name=".activity.forget_password.VerifyOTP"
            android:exported="false" />

        <activity
            android:name=".activity.forget_password.SetNewPassword"
            android:exported="false" />

        <activity
            android:name=".activity.forget_password.ForgetSuccessMessage"
            android:exported="false" />

        <activity
            android:name=".activity.comment.Comment"
            android:exported="false" />

        <activity
            android:name=".activity.admin.LoginAmin"
            android:exported="false" />

        <activity
            android:name=".activity.post.MainDangBai"
            android:exported="false" />

        <activity
            android:name=".activity.admin.MainAmin"
            android:exported="false" />

        <activity
            android:name=".activity.content.Content"
            android:exported="false" />

        <activity
            android:name=".activity.userinfo.UserReLogin"
            android:exported="false" />

        <activity
            android:name=".activity.search.ManTimKiem"
            android:exported="false" />

        <activity
            android:name=".activity.HomePage"
            android:exported="false" />

        <activity
            android:name=".activity.userinfo.UserInfo"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
